/*--Top Section--*/
.brandContainer{
    padding: 60px 0 60px 0;
}
.bgContainer{
    background-image: url(/imgs/bg1.webp);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.brandName{
    text-align: center;
    padding: 50px 0 0 0;
}
.brandName p{
    font-size: 40px;
    font-family: 'rock salt',cursive;
    font-weight: 1000;
    color: #1a1d20;
}

.slogan{
    text-align: center;
    padding: 10px 0 10px 0;
    width: 45%;
    transform: translate(60%,0);
}
.slogan p{
    font-size: 50px;
    font-family: caveatBrush;
}
.slogan span{
    font-size: 40px;
    font-family: 'rock salt',cursive;
}
.mvCont{
    display: block;
    background-color: #1c1a42;
}
.mvContainer{
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    background-color: #1c1a42;
    color: #fff;
}
.missionContainer{
    float: left;
    text-align: center;
    width: 40%;
    padding: 50px 10px 50px 100px;
}
.missionHeading{
    font-family: itim;
    font-size: 30px;
}
.visionContainer{
    float: right;
    text-align: center;
    width: 40%;
    padding: 50px 100px 50px 10px;
}
.visionHeading{
    font-family: itim;
    font-size: 30px;
}

/* .mvContainer{
    display: flex;
    padding: 0 0 30px 0;
}
.missionContainer{
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0;
}
.missionHeading{
    font-size: 30px;
    font-family: itim;
}
.missionContent{
    width: 500px;
    transform: translate(25%,0);
}
.visionContainer{
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0;
}
.visionHeading{
    font-size: 30px;
    font-family: itim;
}
.visionContent{
    width: 500px;
    transform: translate(25%,0);
} */

/*--Middle Section--*/
.WhatWeDo , .HowWeDo{
    display: inline-block;
    width: 100%;
    padding: 50px 20px 50px 100px;
}
.WhatWeDo .descBody{
    float: left;
    width: 50%;
}
.HowWeDo .descBody{
    float: right;
    width: 50%;
}
.WhatWeDo video{
    float: right;
}
.HowWeDo video{
    float: left;
}
.descHeading{
    text-align: center;
    font-size: 30px;
    font-family: itim;
}
.descContent{
    padding: 0 100px 0 50px;
}
.descContent ul{
    transform: translate(2%,0);
}
.descContainer video{
    padding: 10px 50px 10px 10px;
}

/* .HowWeDo{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 100px 30px 10px 30px;
} */

.ju{
    width: 100%;
    text-align: center;
    padding: 50px 10px;
}
.juHeading{
    font-size: 40px;
    padding: 0 0 0 15px;
    font-family: itim;
}
.juVolunteer{
    display: inline-block;
    padding: 40px 40px 10px 20px;
    font-size: 20px;
}
.juStudent{
    display: inline-block;
    padding: 40px 20px 10px 40px;
    font-size: 20px;
}
.ju a{
    text-decoration: none!important;
    text-emphasis: none!important;
    color: #282d32;
}
.button{
    padding: 20px 40px 7px 40px;
    background-color: #fff;
    border-radius: 100px;
}
.border{
    padding: 1px;
    border-radius: 100px;
    background-color: #a4a4a5;
    transition: all 0.3s ease;
}
.border:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 80px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
.juVolunteer p{
    font-size: 25px;
}
.juStudent p{
    font-size: 25px;
}

/*--More Info--*/
.infoContainer{
    padding: 50px 0 50px 5%;
}
.infoContainer .heading{
    font-size: 30px;
    font-family: itim;
}
.infoContainer .content{
    width: 60%;
    padding: 10px 0 20px 20px;
}
.infoContainer a{
    color: #282d32;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.infoContainer a:hover{
    color: #5b5e5e;
    text-decoration: underline;
    transition: all 0.3s ease;
}

/* .divider{
    background: linear-gradient(
        180deg,
        #1c1a42,
        #ffffff
    );
} */


/*--Mobile View--*/
@media (max-width:1350px){
    .WhatWeDo video , .HowWeDo video{
        float: none;
        text-align: center;
        padding: 50px 0 50px 0;
    }
    .HowWeDo .descBody, .WhatWeDo .descBody{
        float: none;
        transform: translate(5%,0);
        width: 90%;
    }
    .WhatWeDo , .HowWeDo{
        padding: 50px 20px 50px 20px;
        text-align: center;
    }
    .descContent{
        text-align: left;
    }
}
@media (max-width:890px) {
    .slogan{
        width: 65%;
        transform: translate(30%,0);
    }
    .mvContainer{
        text-align: center;
        width: 100%;
    }
    .missionContainer{
        float: center;
        width: 90%;
        padding: 50px 0 0 10%;
    }
    .visionContainer{
        display: block;
        float: none;
        width: 90%;
        padding: 50px 0 0 10%;
    }
    .descContainer video {
        padding: 0;
        width: 90%;
    }
    .WhatWeDo , .HowWeDo{
        padding: 50px 20px 50px 20px;
    }
}
@media (max-width:600px){
    .juVolunteer , .juStudent{
        display: block;
        width: 50%;
        padding: 20px 0 10px 0;
        transform: translate(50%,0);
    }
    .button{
        padding: 20px 20px 7px 20px;
    }
}
@media (max-width:470px){
    .descContainer video{
        width: 370px;
    }
    .WhatWeDo , .HowWeDo{
        padding: 50px 20px 50px 10px;
        text-align: center;
    }
    .infoContainer .content{
        width: 90%;
    }
    .descContent{
        padding: 0 0 10px 0;
    }
}
@media (max-width:400px){
    .descContainer video{
        width: 270px;
    }
    .WhatWeDo , .HowWeDo{
        padding: 50px 20px 50px 10px;
    }
}
