.studentContainer .top{
    width: 100%;
    text-align: center;
}
.sHeading{
    text-align: center;
    font-family: rock salt;
    font-size: 40px;
    padding: 100px 0 40px 0;
}
.sContent{
    text-align: center;
    width: 80%;
    padding: 20px 0 80px 20%;
}
.rContainer{
    text-align: center;
    width: 100%;
    padding: 0 0 50px 0;
}
.rHeading{
    font-family: itim;
    font-size: 30px;
}
.rHeading span{
    font-family: rock salt;
    font-size: 17px;
    font-weight: 1000;
}
.rContent{
    width: 80%;
    transform: translate(10%,0);
    padding: 20px 0 0 0;
}
.middleRow{
    display: inline-block;
    width: 100%;
    padding: 50px 100px 100px 100px;
}
.bContainer{
    float: left;
    width: 50%;
    padding: 0 20px 0 0;
}
.bHeading{
    text-align: center;
    font-family: itim;
    font-size: 30px;
    padding: 0 0 30px 0;
}
.eContainer{
    float: right;
    width: 50%;
    padding: 0 0 0 20px;
}
.eHeading{
    text-align: center;
    font-family: itim;
    font-size: 30px;
    padding: 0 0 30px 0;
}
.eVid{
    text-align: center;
    padding: 0 0 50px 0;
}
.eContent ol{
    padding: 0 0 0 30px;
}

/*--How to Join Us--*/
.htjContainer{
    padding: 50px 0 100px 0;
}
.htjHeading{
    text-align: center;
    font-family: caveatBrush;
    font-size: 50px;
}
.htjContent{
    padding: 50px 0 50px 100px;
}
.htjSubHeading{
    font-family: itim;
    font-size: 30px;
}
.htjSubContent{
    font-size: 20px;
    padding: 0 0 10px 20px;
    width: 60%;
}
.htjContent a{
    text-decoration: underline;
    color: #2e3131;
    transition: all 0.3s ease;
}
.htjContent a:hover{
    color: #5b5e5e;
    transition: all 0.3s ease;
}

/*--Mobile View--*/
@media (max-width:1200px){
    .middleRow{
        display: block;
    }
    .bContainer, .eContainer{
        float: none;
        transform: translate(10%,0);
        width: 90%;
        padding: 50px 0 30px 0;
    }
}
@media (max-width:770px){
    .eVid video{
        width: 75%;
    }
    .middleRow{
        padding: 50px 20px 50px 20px;
    }
    .bContainer, .eContainer{
        transform: translate(5%,0);
    }
    .sHeading{
        font-size: 200%;
    }
}
@media (max-width:550px){
    .htjContent{
        padding: 50px 0 50px 10%;
    }
    .eVid video{
        width: 85%;
    }
    
}