.highlight{
    text-decoration: underline;
    font-weight: bold;
}
.vHeading{
    text-align: center;
    font-size: 40px;
    font-family: rock salt;
    padding: 100px 0 40px 0;
    /* color: #00b2ff; */
}

/*--Reason--*/
.reasonContainer{
    padding: 30px 0 30px 100px;
    display: inline-block;
    width: 100%;
}
.reason{
    float: left;
    width: 55%;
}
.rContent{
    padding: 20px 0 0 0;
}
.rHeading{
    font-family: itim;
    font-size: 30px;
}
.rHeading span{
    font-family: rock salt;
    font-size: 17px;
    font-weight: 1000;
}
.rImg{
    width: 450px;
    float: right;
    padding: 70px 10px 30px 0;
}

/*--Eligible--*/
.eligibleContainer{
    width: 100%;
    padding: 0 0 50px 50px;
    display: inline-block;
}
.eImg{
    float: left;
    width: 400px;
    padding: 100px 0 0 0;
}
.eligible{
    float: right;
    width: 55%;
    padding: 200px 30px 20px 50px;
}
.eHeading{
    font-family: itim;
    font-size: 30px;
}

.eligibleVideo{
    text-align: center;
    padding: 50px 0 50px 0;
}
.eContent ol{
    display: block;
    padding: 0 0 0 30px;
}

/*How To Join Us*/
.htjheader{
    font-family: caveatBrush;
    font-size: 50px;
    text-align: center;
    padding: 50px 0 30px 0;
}
.htjcontent{
    padding: 30px 0 200px 200px;
}
.htjsubHeading{
    font-family: itim;
    font-size: 30px;
}
.htjsubContent{
    font-size: 20px;
    width: 70%;
    padding: 0 0 0 30px;
}
.vaButton{
    color: #2e3131;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.vaButton:hover{
    color: #5b5e5e;
    transition: all 0.3s ease;
}

/*--Mobile View--*/
@media (max-width:1250px){
    .rImg{
        width: 30%;
    }
    .eImg{
        width: 30%;
    }
}
@media (max-width:700px){
    .reasonContainer, .eligibleContainer{
        display: block;
        padding: 50px 0 50px 10%;
    }
    .eImg, .rImg{
        float: none;
        width: 70%;
        padding: 10px 0 0 20%;
    }
    .reason , .eligible{
        float:  none;
        width: 80%;
        padding: 20px 0 20px 50px;
    }
    .eligibleVideo video{
        width: 80%;
    }
    .htjcontent{
        padding: 10px 0 0 20%;
    }
    .vHeading{
        font-size: 200%;
    }
}
