/*--Main Heading--*/
body{
    background: linear-gradient(
        180deg,
        #C8A2C8,
        #fff
    );
}
.main {
    position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main::before {    
    content: "";
    background-attachment: fixed;
    background-image: url('/img/bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    width: 80%;
    height: 40%;
    opacity: 0.5;
    filter: blur(5px);
}

.main .heading {
    position: relative;  
    font-size: 50px;
    font-family: 'rock salt';
    font-weight: 1000;
    padding: 100px 0 100px 0;
    z-index: 10;
    margin: 0;
    text-align: center;
}

/*--Why Join Us--*/
.wju{
    display: inline-block;
    padding: 100px 0 50px 100px;
    width: 100%;
}
.wju .cont{
    float: left;
    width: 50%;
}
.wju .heading{
    font-family: itim;
    font-size: 30px;
}
.wju img{
    float: right;
    width: 40%;
    padding: 100px 100px 100px 0;
}
.wju .content ol{
    padding: 0 0 0 10px;
}

/*--Are You Eligible--*/
.aye{
    display: inline-block;
    padding: 100px 100px 100px 100px;
    width: 100%;
}
.aye .cont{
    float: right;
    width: 50%;
}
.aye .heading{
    font-family: itim;
    font-size: 30px;
}
.aye img{
    float: left;
    width: 40%;
    padding: 10px 50px 50px 0;
}
.aye .content ol{
    padding: 10px 0 0px 40px;
}

.banner {
    width: 100%;
    padding: 0 10%;
}
.banner a{
    display: block;
}
.banner .heading{
    padding: 30px;
    font-size: 35px;
    font-weight: 1000;
    border-width: 3px;
    border-style: solid;
    border-radius: 100px;
    text-align: center;
    transition: all 0.3s ease;
}
.banner a:hover{
    text-decoration: none;
}
.banner .heading:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 70px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

/*--How To Join Us--*/
.htj{
    width: 80%;
    transform: translate(10%,0);
    padding: 100px 0 200px 0;
}
.htj .heading{
    font-size: 60px;
    font-weight: 100;
    font-family: caveatbrush;
    text-align: center;
    padding: 50px 0;
}
.htj .content{
    /* transform: translate(10%,0); */
    padding: 0 0 0 30px;
}
.htj .content .desc{
    padding: 10px 0 20px 10px;
}

/*--Mobile View--*/
@media (max-width:1200px){
    .wju , .aye{
        padding: 100px 100px 50px 100px;
    }
    .wju .cont , .aye .cont{
        width: 90%;
        float: none;
        margin: 0 0 0 20px;
    }
    .wju .heading , .aye .heading{
        text-align: center;
    }
    .wju img, .aye img{
        width: 100%;
        float: none;
        padding: 50px 150px;
    }
    .banner .heading{
        font-size: 30px;
    }
}
@media (max-width:991px){
    .wju img, .aye img{
        padding: 50px 50px;
    }
    .wju, .aye{
        padding: 50px 80px 50px 80px;
    }
    .banner .heading{
        font-size: 20px;
    }
}
@media (max-width:620px){
    .main .heading {
        font-size: 30px;
    }
    .wju, .aye{
        padding: 50px 50px 10px 50px;
    }
    .wju img, .aye img{
        padding: 50px 30px;
    }
    .banner .heading{
        font-size: 15px;
    }
    .htj .heading{
        font-size: 50px;
    }
}
@media (max-width:426px){
    .main .heading {
        font-size: 25px;
    }
    .wju, .aye{
        padding: 50px 20px 10px 20px;
    }
    .wju img, .aye img{
        padding: 50px 10px;
    }
    .htj .heading{
        font-size: 40px;
    }
    .htj{
        padding: 10px 0 100px 0;
    }
}